EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST = "127.0.0.1"
EMAIL_PORT = 1025
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ""
EMAIL_USE_TLS = False

DEFAULT_FROM_EMAIL = "foo@localhost"

# honeypot default settings
HONEYPOT_NAME_FIELD = "whf_name"
HONEYPOT_TIME_FIELD = "whf_time"
HONEYPOT_TIME_INTERVAL = 3  # minimum time taken to fill out the form in seconds
